In [ ]:
import numpy as np

In [ ]:
input_data = ['Apoorva Ranjeet is ok',
              'Aadrika is learning gaming stuffs',
              'Anusha managing finance of wellsfargo',
              'Nmari started her journey to become a doctor',
              'Barbie is more mature compared to last time',
              'Sweety is getting comfortable with social media these days',
              'Anjali as usual living her best and enjoying the food the most']

Now we will tokenize the data , meaning removal of the special symbols, separating each word,converting capital letters word into small letters etc.

In [ ]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(oov_token='akku') # oov stands for out of vocabulary this parameter replacse the new word which is not in the data with the word we pass in this parameter like akku

In [ ]:
tokenizer.fit_on_texts(input_data)

In [ ]:
# theres an attribute name word_index this is used to check the index given by the tokenizer to the words of your data and also checks the number of unique words in the data
tokenizer.word_index

{'akku': 1,
 'is': 2,
 'her': 3,
 'to': 4,
 'the': 5,
 'apoorva': 6,
 'ranjeet': 7,
 'ok': 8,
 'aadrika': 9,
 'learning': 10,
 'gaming': 11,
 'stuffs': 12,
 'anusha': 13,
 'managing': 14,
 'finance': 15,
 'of': 16,
 'wellsfargo': 17,
 'nmari': 18,
 'started': 19,
 'journey': 20,
 'become': 21,
 'a': 22,
 'doctor': 23,
 'barbie': 24,
 'more': 25,
 'mature': 26,
 'compared': 27,
 'last': 28,
 'time': 29,
 'sweety': 30,
 'getting': 31,
 'comfortable': 32,
 'with': 33,
 'social': 34,
 'media': 35,
 'these': 36,
 'days': 37,
 'anjali': 38,
 'as': 39,
 'usual': 40,
 'living': 41,
 'best': 42,
 'and': 43,
 'enjoying': 44,
 'food': 45,
 'most': 46}

In [ ]:
# to check the frequency of each word in the data
tokenizer.word_counts

OrderedDict([('apoorva', 1),
             ('ranjeet', 1),
             ('is', 4),
             ('ok', 1),
             ('aadrika', 1),
             ('learning', 1),
             ('gaming', 1),
             ('stuffs', 1),
             ('anusha', 1),
             ('managing', 1),
             ('finance', 1),
             ('of', 1),
             ('wellsfargo', 1),
             ('nmari', 1),
             ('started', 1),
             ('her', 2),
             ('journey', 1),
             ('to', 2),
             ('become', 1),
             ('a', 1),
             ('doctor', 1),
             ('barbie', 1),
             ('more', 1),
             ('mature', 1),
             ('compared', 1),
             ('last', 1),
             ('time', 1),
             ('sweety', 1),
             ('getting', 1),
             ('comfortable', 1),
             ('with', 1),
             ('social', 1),
             ('media', 1),
             ('these', 1),
             ('days', 1),
             ('anjali', 1),
             ('as', 1),
             ('usual', 1),
             ('living', 1),
             ('best', 1),
             ('and', 1),
             ('enjoying', 1),
             ('the', 2),
             ('food', 1),
             ('most', 1)])

In [ ]:
# to check the number of rows in the document
tokenizer.document_count

7

So step 1 is completed we have sucessfully given the index to the words of data now second step is generate sequence

In [ ]:
sequences = tokenizer.texts_to_sequences(input_data)
sequences

[[6, 7, 2, 8],
 [9, 2, 10, 11, 12],
 [13, 14, 15, 16, 17],
 [18, 19, 3, 20, 4, 21, 22, 23],
 [24, 2, 25, 26, 27, 4, 28, 29],
 [30, 2, 31, 32, 33, 34, 35, 36, 37],
 [38, 39, 40, 41, 3, 42, 43, 44, 5, 45, 5, 46]]

now the size of these squences are of different size so we have to do padding

In [ ]:
from keras.utils import pad_sequences

In [ ]:
sequences = pad_sequences(sequences,padding='post')

In [ ]:
sequences

array([[ 6,  7,  2,  8,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 9,  2, 10, 11, 12,  0,  0,  0,  0,  0,  0,  0],
       [13, 14, 15, 16, 17,  0,  0,  0,  0,  0,  0,  0],
       [18, 19,  3, 20,  4, 21, 22, 23,  0,  0,  0,  0],
       [24,  2, 25, 26, 27,  4, 28, 29,  0,  0,  0,  0],
       [30,  2, 31, 32, 33, 34, 35, 36, 37,  0,  0,  0],
       [38, 39, 40, 41,  3, 42, 43, 44,  5, 45,  5, 46]], dtype=int32)