In [83]:
import pandas as pd
import numpy as np

In [84]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [85]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [87]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [88]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [89]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [90]:
# drop unnecessary columns
df=df.drop(['Geography','Surname'],axis=1)

In [91]:
# creating the dummy varibles
df= pd.get_dummies(df,columns=['Gender'],drop_first=True)

In [92]:
df

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,1,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,771,39,5,0.00,2,1,0,96270.64,0,1
9996,9997,15569892,516,35,10,57369.61,1,1,1,101699.77,0,1
9997,9998,15584532,709,36,7,0.00,1,0,1,42085.58,1,0
9998,9999,15682355,772,42,3,75075.31,2,1,0,92888.52,1,1
9999,10000,15628319,792,28,4,130142.79,1,1,0,38190.78,0,0

In [93]:
# splitting the data
X =df.iloc[:,:-1].values
Y = df.iloc[:,-1].values

In [94]:
# Standardizing the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X=scaler.fit_transform(X)

In [95]:
X

array([[-1.73187761, -0.78321342, -0.32622142, ...,  0.97024255,
         0.02188649,  1.97716468],
       [-1.7315312 , -0.60653412, -0.44003595, ...,  0.97024255,
         0.21653375, -0.50577476],
       [-1.73118479, -0.99588476, -1.53679418, ..., -1.03067011,
         0.2406869 ,  1.97716468],
       ...,
       [ 1.73118479, -1.47928179,  0.60498839, ...,  0.97024255,
        -1.00864308,  1.97716468],
       [ 1.7315312 , -0.11935577,  1.25683526, ..., -1.03067011,
        -0.12523071,  1.97716468],
       [ 1.73187761, -0.87055909,  1.46377078, ..., -1.03067011,
        -1.07636976, -0.50577476]])

In [105]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.3,random_state=1)

In [103]:
x_train

array([[-0.79864863,  0.42601595, -0.23310044, ...,  0.97024255,
         0.42879259, -0.50577476],
       [ 0.04867063, -1.01693224, -0.25379399, ..., -1.03067011,
        -1.02569751, -0.50577476],
       [-0.84229631,  1.18116742, -0.39864885, ...,  0.97024255,
        -0.94491882,  1.97716468],
       ...,
       [-1.41837641, -0.20820284,  0.22215769, ...,  0.97024255,
        -0.14019969,  1.97716468],
       [ 0.06668396, -1.15464451,  0.12903671, ...,  0.97024255,
         0.01875682, -0.50577476],
       [-1.65047122,  1.13933659,  1.16371428, ..., -1.03067011,
        -1.15858217,  1.97716468]])

In [104]:
y_train

array([1, 0, 0, ..., 0, 0, 1], dtype=uint8)

In [106]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [117]:
# Hyperparameter tuning
def build_model(hp):
  model=Sequential()

  counter=0
  for i in range(hp.Int('num_layers',min_value=1,max_value=10)):
    if counter==0:
      model.add(Dense(
          hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
          activation=hp.Choice('activation'+str(i),values=['tanh','relu','sigmoid']),
          input_dim=11
      ))
    else:
        model.add(Dense(
          hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
          activation=hp.Choice('activation'+str(i),values=['tanh','relu','sigmoid'])
      ))
  counter+=1

  model.add(Dense(1,activation='sigmoid'))
  model.compile(optimizer=hp.Choice('optimizer',values=['rmsprop','adam','sgd','adadelta']),loss='binary_crossentropy',metrics=['accuracy'])

  return model

In [113]:
pip install -U keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)

In [118]:
import kerastuner as kt
from kerastuner.tuners import RandomSearch

In [119]:
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=3,
    directory='my_dir',
    project_name='project'
)

In [120]:
tuner.search(x_train,y_train,epochs=5,validation_data=(x_test,y_test),verbose=1)

Trial 3 Complete [00h 00m 04s]
val_accuracy: 0.5606666803359985

Best val_accuracy So Far: 0.5606666803359985
Total elapsed time: 00h 00m 04s

In [121]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 2,
 'units0': 104,
 'activation0': 'relu',
 'optimizer': 'sgd',
 'units1': 96,
 'activation1': 'sigmoid',
 'units2': 16,
 'activation2': 'tanh',
 'units3': 8,
 'activation3': 'relu',
 'units4': 24,
 'activation4': 'sigmoid',
 'units5': 104,
 'activation5': 'sigmoid',
 'units6': 80,
 'activation6': 'sigmoid',
 'units7': 16,
 'activation7': 'tanh',
 'units8': 128,
 'activation8': 'tanh',
 'units9': 112,
 'activation9': 'sigmoid'}

In [122]:
model=tuner.get_best_models(num_models=1)[0]

In [123]:
model.fit(x_train,y_train,epochs=100,validation_data=(x_test,y_test),initial_epoch=6)

Epoch 7/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6884 - accuracy: 0.5454 - val_loss: 0.6900 - val_accuracy: 0.5557
Epoch 8/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6878 - accuracy: 0.5509 - val_loss: 0.6868 - val_accuracy: 0.5590
Epoch 9/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6873 - accuracy: 0.5527 - val_loss: 0.6854 - val_accuracy: 0.5600
Epoch 10/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6868 - accuracy: 0.5520 - val_loss: 0.6886 - val_accuracy: 0.5627
Epoch 11/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6863 - accuracy: 0.5527 - val_loss: 0.6877 - val_accuracy: 0.5663
Epoch 12/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6860 - accuracy: 0.5610 - val_loss: 0.6848 - val_accuracy: 0.5600
Epoch 13/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6857 - accuracy: 0.5630 - val_loss: 0.6843 - val_accuracy: 0.5613
Epoch 14/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6854 - accuracy: 0.5626 - val_loss: 0.6845 - val_accuracy: 0.5673
Epoch 15/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6849 - accuracy: 0.5653 - val_loss: 0.6842 - val_accuracy: 0.5667
Epoch 16/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6848 - accuracy: 0.5641 - val_loss: 0.6837 - val_accuracy: 0.5640
Epoch 17/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6844 - accuracy: 0.5670 - val_loss: 0.6840 - val_accuracy: 0.5693
Epoch 18/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6844 - accuracy: 0.5683 - val_loss: 0.6859 - val_accuracy: 0.5707
Epoch 19/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6841 - accuracy: 0.5677 - val_loss: 0.6835 - val_accuracy: 0.5690
Epoch 20/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6842 - accuracy: 0.5700 - val_loss: 0.6851 - val_accuracy: 0.5703
Epoch 21/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6837 - accuracy: 0.5690 - val_loss: 0.6846 - val_accuracy: 0.5703
Epoch 22/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6834 - accuracy: 0.5697 - val_loss: 0.6844 - val_accuracy: 0.5703
Epoch 23/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6835 - accuracy: 0.5697 - val_loss: 0.6833 - val_accuracy: 0.5710
Epoch 24/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6833 - accuracy: 0.5699 - val_loss: 0.6840 - val_accuracy: 0.5700
Epoch 25/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6831 - accuracy: 0.5691 - val_loss: 0.6840 - val_accuracy: 0.5700
Epoch 26/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6830 - accuracy: 0.5693 - val_loss: 0.6846 - val_accuracy: 0.5700
Epoch 27/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6831 - accuracy: 0.5697 - val_loss: 0.6840 - val_accuracy: 0.5700
Epoch 28/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6827 - accuracy: 0.5696 - val_loss: 0.6835 - val_accuracy: 0.5703
Epoch 29/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6825 - accuracy: 0.5706 - val_loss: 0.6844 - val_accuracy: 0.5700
Epoch 30/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6824 - accuracy: 0.5701 - val_loss: 0.6831 - val_accuracy: 0.5717
Epoch 31/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6828 - accuracy: 0.5696 - val_loss: 0.6834 - val_accuracy: 0.5717
Epoch 32/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6827 - accuracy: 0.5704 - val_loss: 0.6846 - val_accuracy: 0.5700
Epoch 33/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6828 - accuracy: 0.5700 - val_loss: 0.6852 - val_accuracy: 0.5687
Epoch 34/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6822 - accuracy: 0.5690 - val_loss: 0.6839 - val_accuracy: 0.5697
Epoch 35/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6825 - accuracy: 0.5694 - val_loss: 0.6835 - val_accuracy: 0.5700
Epoch 36/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6823 - accuracy: 0.5691 - val_loss: 0.6851 - val_accuracy: 0.5683
Epoch 37/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6822 - accuracy: 0.5713 - val_loss: 0.6842 - val_accuracy: 0.5700
Epoch 38/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6822 - accuracy: 0.5707 - val_loss: 0.6832 - val_accuracy: 0.5707
Epoch 39/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6822 - accuracy: 0.5700 - val_loss: 0.6833 - val_accuracy: 0.5703
Epoch 40/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6822 - accuracy: 0.5703 - val_loss: 0.6841 - val_accuracy: 0.5700
Epoch 41/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6821 - accuracy: 0.5693 - val_loss: 0.6838 - val_accuracy: 0.5697
Epoch 42/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6820 - accuracy: 0.5697 - val_loss: 0.6844 - val_accuracy: 0.5693
Epoch 43/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6821 - accuracy: 0.5687 - val_loss: 0.6852 - val_accuracy: 0.5677
Epoch 44/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6822 - accuracy: 0.5704 - val_loss: 0.6843 - val_accuracy: 0.5693
Epoch 45/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6818 - accuracy: 0.5701 - val_loss: 0.6842 - val_accuracy: 0.5693
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6818 - accuracy: 0.5694 - val_loss: 0.6847 - val_accuracy: 0.5687
Epoch 47/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6816 - accuracy: 0.5714 - val_loss: 0.6839 - val_accuracy: 0.5697
Epoch 48/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6814 - accuracy: 0.5687 - val_loss: 0.6874 - val_accuracy: 0.5647
Epoch 49/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6816 - accuracy: 0.5689 - val_loss: 0.6837 - val_accuracy: 0.5727
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6817 - accuracy: 0.5699 - val_loss: 0.6836 - val_accuracy: 0.5723
Epoch 51/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6817 - accuracy: 0.5693 - val_loss: 0.6855 - val_accuracy: 0.5670
Epoch 52/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6814 - accuracy: 0.5694 - val_loss: 0.6843 - val_accuracy: 0.5740
Epoch 53/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6815 - accuracy: 0.5701 - val_loss: 0.6838 - val_accuracy: 0.5697
Epoch 54/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6815 - accuracy: 0.5710 - val_loss: 0.6844 - val_accuracy: 0.5693
Epoch 55/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6813 - accuracy: 0.5699 - val_loss: 0.6849 - val_accuracy: 0.5683
Epoch 56/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6816 - accuracy: 0.5701 - val_loss: 0.6843 - val_accuracy: 0.5693
Epoch 57/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6812 - accuracy: 0.5694 - val_loss: 0.6838 - val_accuracy: 0.5703
Epoch 58/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6810 - accuracy: 0.5710 - val_loss: 0.6842 - val_accuracy: 0.5693
Epoch 59/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6814 - accuracy: 0.5707 - val_loss: 0.6869 - val_accuracy: 0.5653
Epoch 60/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6813 - accuracy: 0.5694 - val_loss: 0.6838 - val_accuracy: 0.5700
Epoch 61/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6815 - accuracy: 0.5709 - val_loss: 0.6844 - val_accuracy: 0.5690
Epoch 62/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6814 - accuracy: 0.5709 - val_loss: 0.6844 - val_accuracy: 0.5690
Epoch 63/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6809 - accuracy: 0.5711 - val_loss: 0.6839 - val_accuracy: 0.5700
Epoch 64/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6813 - accuracy: 0.5696 - val_loss: 0.6854 - val_accuracy: 0.5660
Epoch 65/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6810 - accuracy: 0.5690 - val_loss: 0.6839 - val_accuracy: 0.5723
Epoch 66/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6812 - accuracy: 0.5709 - val_loss: 0.6839 - val_accuracy: 0.5717
Epoch 67/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6812 - accuracy: 0.5710 - val_loss: 0.6856 - val_accuracy: 0.5653
Epoch 68/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6810 - accuracy: 0.5689 - val_loss: 0.6839 - val_accuracy: 0.5723
Epoch 69/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6809 - accuracy: 0.5706 - val_loss: 0.6840 - val_accuracy: 0.5710
Epoch 70/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6807 - accuracy: 0.5709 - val_loss: 0.6842 - val_accuracy: 0.5700
Epoch 71/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6806 - accuracy: 0.5706 - val_loss: 0.6841 - val_accuracy: 0.5713
Epoch 72/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6809 - accuracy: 0.5699 - val_loss: 0.6852 - val_accuracy: 0.5673
Epoch 73/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6807 - accuracy: 0.5704 - val_loss: 0.6851 - val_accuracy: 0.5733
Epoch 74/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6812 - accuracy: 0.5707 - val_loss: 0.6841 - val_accuracy: 0.5710
Epoch 75/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6808 - accuracy: 0.5707 - val_loss: 0.6841 - val_accuracy: 0.5723
Epoch 76/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6807 - accuracy: 0.5704 - val_loss: 0.6849 - val_accuracy: 0.5680
Epoch 77/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6808 - accuracy: 0.5720 - val_loss: 0.6860 - val_accuracy: 0.5643
Epoch 78/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6808 - accuracy: 0.5719 - val_loss: 0.6842 - val_accuracy: 0.5717
Epoch 79/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6806 - accuracy: 0.5716 - val_loss: 0.6854 - val_accuracy: 0.5663
Epoch 80/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6805 - accuracy: 0.5713 - val_loss: 0.6849 - val_accuracy: 0.5690
Epoch 81/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6806 - accuracy: 0.5694 - val_loss: 0.6843 - val_accuracy: 0.5723
Epoch 82/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6802 - accuracy: 0.5727 - val_loss: 0.6846 - val_accuracy: 0.5700
Epoch 83/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6805 - accuracy: 0.5706 - val_loss: 0.6844 - val_accuracy: 0.5733
Epoch 84/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6804 - accuracy: 0.5706 - val_loss: 0.6865 - val_accuracy: 0.5650
Epoch 85/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6806 - accuracy: 0.5710 - val_loss: 0.6844 - val_accuracy: 0.5713
Epoch 86/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6804 - accuracy: 0.5706 - val_loss: 0.6855 - val_accuracy: 0.5667
Epoch 87/100
219/219 [==============================] - 1s 4ms/step - loss: 0.6802 - accuracy: 0.5693 - val_loss: 0.6854 - val_accuracy: 0.5670
Epoch 88/100
219/219 [==============================] - 1s 3ms/step - loss: 0.6798 - accuracy: 0.5736 - val_loss: 0.6847 - val_accuracy: 0.5703
Epoch 89/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6800 - accuracy: 0.5723 - val_loss: 0.6847 - val_accuracy: 0.5710
Epoch 90/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6801 - accuracy: 0.5710 - val_loss: 0.6901 - val_accuracy: 0.5470
Epoch 91/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6805 - accuracy: 0.5709 - val_loss: 0.6857 - val_accuracy: 0.5663
Epoch 92/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6801 - accuracy: 0.5726 - val_loss: 0.6853 - val_accuracy: 0.5683
Epoch 93/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6803 - accuracy: 0.5701 - val_loss: 0.6847 - val_accuracy: 0.5703
Epoch 94/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6800 - accuracy: 0.5706 - val_loss: 0.6873 - val_accuracy: 0.5610
Epoch 95/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6802 - accuracy: 0.5711 - val_loss: 0.6861 - val_accuracy: 0.5650
Epoch 96/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6800 - accuracy: 0.5700 - val_loss: 0.6847 - val_accuracy: 0.5727
Epoch 97/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6798 - accuracy: 0.5709 - val_loss: 0.6848 - val_accuracy: 0.5710
Epoch 98/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6799 - accuracy: 0.5727 - val_loss: 0.6869 - val_accuracy: 0.5627
Epoch 99/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6800 - accuracy: 0.5704 - val_loss: 0.6866 - val_accuracy: 0.5643
Epoch 100/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6795 - accuracy: 0.5713 - val_loss: 0.6851 - val_accuracy: 0.5697