In [68]:
import numpy as np
import pandas as pd
import seaborn as sns

In [69]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [71]:
# to check the null value in the datset
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [72]:
# to remove any category from the output
df['species']!='setosa'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [73]:
df = df[df['species']!='setosa'] # jitne bhi column hai setosa ke woh saare remove ho jayenge

In [74]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [75]:
# to represent the putputs in numeric format i.e. 0 and 1
df['species'] = df['species'].map({'versicolor':0,'virginica':1})

In [76]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4        0
51           6.4          3.2           4.5          1.5        0
52           6.9          3.1           4.9          1.5        0
53           5.5          2.3           4.0          1.3        0
54           6.5          2.8           4.6          1.5        0

In [77]:
# split the dataset into independent and dependent features
# x=df.iloc[:,:-1]
# y=df.iloc[:,-1]
# another method to split the dataset

In [78]:
X = df.drop(columns='species',axis=1)
Y = df['species']

In [79]:
from sklearn.model_selection import train_test_split
(x_train,x_test,y_train,y_test) = train_test_split(X,Y,test_size=.30,random_state=42)

In [80]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
61            5.9          3.0           4.2          1.5
97            6.2          2.9           4.3          1.3
135           7.7          3.0           6.1          2.3
78            6.0          2.9           4.5          1.5
143           6.8          3.2           5.9          2.3
..            ...          ...           ...          ...
110           6.5          3.2           5.1          2.0
121           5.6          2.8           4.9          2.0
64            5.6          2.9           3.6          1.3
142           5.8          2.7           5.1          1.9
101           5.8          2.7           5.1          1.9

[70 rows x 4 columns]

In [81]:
y_train

61     0
97     0
135    1
78     0
143    1
      ..
110    1
121    1
64     0
142    1
101    1
Name: species, Length: 70, dtype: int64

In [82]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
133           6.3          2.8           5.1          1.5
103           6.3          2.9           5.6          1.8
120           6.9          3.2           5.7          2.3
95            5.7          3.0           4.2          1.2
94            5.6          2.7           4.2          1.3
89            5.5          2.5           4.0          1.3
72            6.3          2.5           4.9          1.5
130           7.4          2.8           6.1          1.9
60            5.0          2.0           3.5          1.0
50            7.0          3.2           4.7          1.4
68            6.2          2.2           4.5          1.5
80            5.5          2.4           3.8          1.1
123           6.3          2.7           4.9          1.8
83            6.0          2.7           5.1          1.6
140           6.7          3.1           5.6          2.4
54            6.5          2.8           4.6          1.5
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
62            6.0          2.2           4.0          1.0
81            5.5          2.4           3.7          1.0
105           7.6          3.0           6.6          2.1
138           6.0          3.0           4.8          1.8
76            6.8          2.8           4.8          1.4
92            5.8          2.6           4.0          1.2
119           6.0          2.2           5.0          1.5
65            6.7          3.1           4.4          1.4
90            5.5          2.6           4.4          1.2
146           6.3          2.5           5.0          1.9
59            5.2          2.7           3.9          1.4
122           7.7          2.8           6.7          2.0

In [83]:
from sklearn.linear_model import LogisticRegression

In [84]:
classifier = LogisticRegression()

In [85]:
from sklearn.model_selection import GridSearchCV

parameters = {'penalty':['l2'],'C':[1,2,3,4,5,6,10,20,30,40,50],'max_iter':[100,200,300]}

In [86]:
classifier_regressor = GridSearchCV(classifier,param_grid=parameters,scoring='accuracy',cv=5)
 # classification problem ka scoring hamesha accuracy hoga , regerssion ka hamesha neg_mean_squared_error hoga

In [87]:
classifier_regressor.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50],
                         'max_iter': [100, 200, 300], 'penalty': ['l2']},
             scoring='accuracy')

In [89]:
print(classifier_regressor.best_params_)

{'C': 40, 'max_iter': 100, 'penalty': 'l2'}

In [90]:
print(classifier_regressor.best_score_)

0.9857142857142858

In [91]:
# prediction

y_pred = classifier_regressor.predict(x_test)

In [92]:
# accuracy score
from sklearn.metrics import accuracy_score, classification_report

In [93]:
score = accuracy_score(y_pred,y_test)
score

0.9333333333333333